[submodule "external/musicjson"]
	path = external/musicjson
	url = git@github.com:erikronstrom/musicjson.git
[submodule "external/teoria"]
	path = external/teoria
	url = git@github.com:erikronstrom/teoria.git
[submodule "external/daccord"]
	path = external/daccord
	url = git@github.com:erikronstrom/daccord.git
[submodule "external/scientific-notation"]
	path = external/scientific-notation
	url = git@github.com:erikronstrom/scientific-notation.git
[submodule "external/helmholtz"]
	path = external/helmholtz
	url = git@github.com:erikronstrom/helmholtz.git
[submodule "external/interval-coords"]
	path = external/interval-coords
	url = git@github.com:erikronstrom/interval-coords.git
[submodule "external/notecoord"]
	path = external/notecoord
	url = git@github.com:erikronstrom/notecoord.git
[submodule "external/accidental-value"]
	path = external/accidental-value
	url = git@github.com:erikronstrom/accidental-value.git
