[submodule "node_modules/musicjson"]
	path = node_modules/musicjson
	url = git@github.com:erikronstrom/musicjson.git
[submodule "node_modules/accidental-value"]
	path = node_modules/accidental-value
	url = git@github.com:erikronstrom/accidental-value.git
[submodule "node_modules/notecoord"]
	path = node_modules/notecoord
	url = git@github.com:erikronstrom/notecoord.git
[submodule "node_modules/interval-coords"]
	path = node_modules/interval-coords
	url = git@github.com:erikronstrom/interval-coords.git
[submodule "node_modules/helmholtz"]
	path = node_modules/helmholtz
	url = git@github.com:erikronstrom/helmholtz.git
[submodule "node_modules/scientific-notation"]
	path = node_modules/scientific-notation
	url = git@github.com:erikronstrom/scientific-notation.git
[submodule "node_modules/daccord"]
	path = node_modules/daccord
	url = git@github.com:erikronstrom/daccord.git
